---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Creepster');

$halloween-orange: #f95001;

h1 {
  font-family: 'Creepster', cursive;
}

#header nav .fork a {
  background-color: $halloween-orange;
  font-family: 'Creepster', cursive;  
  border: 1px solid darken($halloween-orange, 5%);
}

#header nav .fork a:hover {
  background-color: darken($halloween-orange, 10%);
  border: 1px solid darken($halloween-orange, 15%);
}
